* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "mont";
    src: url(./fontes/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./fontes/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./fontes/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./fontes/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./fontes/CreatoDisplay-Medium.otf);
}

header {
background-color: #1A0436;
height: 200px;
display: flex;
flex-direction: column;
}

body {
overflow: scroll;
overflow-x: hidden;
}

body {
    background-image: url(fundo.png);
    background-size: cover;
}

.cima {
background-color: #1A0436;
height: 90px;
padding-top:  20px;
display: flex;
align-items: center;
justify-content:space-evenly;
padding-right: 20px;
}

.bolha {
width: 90px;
height: 75px;
margin-left: 50px;
}

.conjuto {
display: flex;
flex-direction: row;
}

.logo {
font-family: "mont";
color: white;
width: 190px;
height: 45px;
text-align: center;
display: flex ;
font-size: 35px;
font-weight: 400;
align-items: center;
justify-content: center;
padding-top: 10px;

}

#barraPesquisa {
width: 700px;
height: 53.79px;
background-image: url(img/imgHeaderEFooter/barradepesquisa.png);
margin: 90px;
border-radius: 18px;
padding-right: 20px;
margin-left: 150px;
background-size: cover;
}

#barraPesquisa::-webkit-input-placeholder{
    color:#ffffff98;
    font-size:15px;
}
input {
color: white;
font-family: "mont2";
font-size: 15px;
padding-left: 20px;
}

.barra {
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil a {
width: 51px;
height: 52px;
border-radius: 18px;
background-image: url(img/imgHeaderEFooter/perfill.png);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-right: 30px;
background-size: cover;
color: rgba(255, 255, 255, 0);
}

.notificacao {
width: 51px;
height: 52px;
border-radius: 18px;
background: linear-gradient(90deg, #B41D6C, #2A114B);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: -15px;
}

header .baixo {
font-family: "mont2";
display: flex;
flex-direction: row;
display: flex;
justify-content: center;
}

.baixo a{
color: white;
margin: 55px;
font-size: 15px;
margin-top: 25px;
text-decoration: none;
font-weight: 605;
font-family: "mont2";
letter-spacing: 2px;
transition: ease-in-out 0.3s;
}

a:hover {
font-size: 18px;
}
.criadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fileira {
    display: flex;
    gap: 20px; /* Espaço entre os cartões */
}

.cartao {
    width: 250px; /* Ajuste para o tamanho desejado */
    height: 300px; /* Ajuste para o tamanho desejado */
    perspective: 1000px; /* Necessário para o efeito de virar */
}

.conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.frente, .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.atras {
    transform: rotateY(180deg);
}

.cartao.virado .conteudo {
    transform: rotateY(180deg);
}