* {
    margin: 0;
    border: 0;
    padding: 0;
}

@font-face {
    font-family: "mont";
    src: url(./fontes/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./fontes/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./fontes/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./fontes/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./fontes/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: "mont6";
    src: url(fontes/Minya\ DEMO.otf);
}

header {
background-color: #1A0436;
height: 200px;
display: flex;
flex-direction: column;
}

body {
overflow: scroll;
overflow-x: hidden;
}

body {
    background-image: url(img/fundo.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cima {
background-color: #1A0436;
height: 90px;
padding-top:  20px;
display: flex;
align-items: center;
justify-content:space-evenly;
padding-right: 20px;
}

.bolha {
width: 90px;
height: 75px;
margin-left: 50px;
}

.conjuto {
display: flex;
flex-direction: row;
}

.logo {
font-family: "mont";
color: white;
width: 190px;
height: 45px;
text-align: center;
display: flex ;
font-size: 35px;
font-weight: 400;
align-items: center;
justify-content: center;
padding-top: 10px;

}

#barraPesquisa {
width: 700px;
height: 53.79px;
background-image: url(img/imgHeaderEFooter/barradepesquisa.png);
margin: 90px;
border-radius: 18px;
padding-right: 20px;
margin-left: 150px;
background-size: cover;
}

#barraPesquisa::-webkit-input-placeholder{
    color:#ffffff98;
    font-size:15px;
}
input {
color: white;
font-family: "mont2";
font-size: 15px;
padding-left: 20px;
}

.barra {
display: flex;
flex-direction: row;
justify-content: center;
}

.perfil a {
width: 51px;
height: 52px;
border-radius: 18px;
background-image: url(img/imgHeaderEFooter/perfill.png);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-right: 30px;
background-size: cover;
color: rgba(255, 255, 255, 0);
}

.notificacao {
width: 51px;
height: 52px;
border-radius: 18px;
background: linear-gradient(90deg, #B41D6C, #2A114B);
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
margin-left: -15px;
}

header .baixo {
font-family: "mont2";
display: flex;
flex-direction: row;
display: flex;
justify-content: center;
}

.baixo a{
color: white;
margin: 55px;
font-size: 15px;
margin-top: 25px;
text-decoration: none;
font-weight: 605;
font-family: "mont2";
letter-spacing: 2px;
transition: ease-in-out 0.3s;
}

a:hover {
font-size: 18px;
}
.baner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(143deg, #6a32795b, #4848d853);
    width: 1270px;
    height: 645px;
    border-radius: 60px;
    margin-left: 35px;
}

.linhaB {
    position: absolute;
    left: 30px;
    top: 200px;
    height: auto;
    width: 200px;
    z-index: 1;
    opacity: 0.8;
}
.Btexto h1 {
    font-family: "mont";
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
}
.Btexto h1 span {
    color: #ffffff;
    font-family: "mont2";
}
.imgBaner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgPersonagem {
    position: relative;
    z-index: 2;
    width: 633px;
    height: 619px;
}
.estrela {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 600px;
}

.linhaB{
    width: 277.6px;
    height: 158.51px;
}
.criadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}
.fileira {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.cartaoA, .cartaoR, .cartaoO, .cartaoZ{
    width: 497px;
    height: 619px;
    margin: 100px;
    border-radius: 60px;
    justify-content: center;
    background-color: transparent;
}
.frente, .atras{
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 60px;
}
.imgCriador{
    width: 409px;
    height: 254px;
}
.cartaoA .frente, .cartaoA .atras {
    background-color: #feb60064;
}

.cartaoR .frente, .cartaoR .atras {
    background-color: #b41d6b41;
}
.cartaoO .frente, .cartaoO .atras {
    background-color: #6a327960;
}
.cartaoZ .frente, .cartaoZ .atras {
    background-color: #4848d858;
}
.textoJ{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textoJ p{
    width: 409px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: "mont 3";
}
button{
    background: none;
    margin-bottom: -50px;
    margin-right: -250px;
    position: relative;
}
.conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}
.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titulo a:hover{
    color: #ffffff;
}
.titulo a{
    font-size: 35px;
    font-family: "mont6";
    text-decoration: none;
    color: #B41D6C;
}
.rosa{
    height: 5px;
    width: 107px;
    background-color: #B41D6C;
    margin: -6px;
}
.frente, .atras {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
}
.atras {
    transform: rotateY(180deg);
}
.cartaoA.virado .conteudo {
    transform: rotateY(180deg);
}
.cartaoR.virado .conteudo {
    transform: rotateY(180deg);
}
.cartaoO.virado .conteudo {
    transform: rotateY(180deg);
}
.cartaoZ.virado .conteudo {
    transform: rotateY(180deg);
}
footer {
    background-color: #2A114B;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 150px;
}
.logo1 {
    font-family: "mont";
    color: white;
    width: 190px;
    height: 45px;
    text-align: center;
    display: flex ;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 10px;
}
.bolha1 {
    width: 70px;
    height: 60px;
    padding-bottom: 20px;
}
.cimaRodape {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
}
.baixoRodape {
color: #844D93;
margin: 20px;
font-size: 20px;
text-decoration: none;
font-weight: 605;
font-family: "mont4";
letter-spacing: 2px;
transition: none;
}
.baixoRodape:hover {
    font-size: 25px;
}
.redes {
padding-top: 40px;
padding-left: 15px;
padding-bottom: 25px;
}
.fim {
    height: 10px;
    width: 100%;
    background-color: #1A0436;
    padding-bottom: 15px;
}
.textosRodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textoRodape {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-right: -105px;
    color: white;
}
.textoRodape1 {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-left: 40px;
    color: white;
}