* {
    margin: 0;
    border: 0;
    padding: 0;
}
.oculto {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}
.oculto {
    display: none;
}

#overlay1, #overlay2, #overlay3 {
    display: none;
}
#overlay1, #overlay2, #overlay3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}
@font-face {
    font-family: "mont";
    src: url(./fontes/SwilyBright-Italic.otf);
}

@font-face {
    font-family: "mont2";
    src: url(./fontes/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "mont3";
    src: url(./fontes/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: "mont4";
    src: url(./fontes/CreatoDisplay-Bold.otf);
}

@font-face {
    font-family: "mont5";
    src: url(./fontes/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: "mont6";
    src: url(fontes/Minya\ DEMO.otf);
}
body {
    overflow: scroll;
    overflow-x: hidden;
    }
    
    body {
        background-image: url(img/fundo.png);
        background-size: cover;
    }
    
    header {
        background-color: #1A0436;
        height: 200px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 4;
        margin-bottom: 50px;
    }
    
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    
    .ParteDecima {
        background-color: #1A0436;
        height: 90px;
        padding-top:  20px;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        padding-right: 20px;
    }
    
    .bolha {
        width: 90px;
        height: 75px;
    }
    
    .logoNome, .logo {
     font-family: "mont";
     color: white;
     width: 190px;
     height: 45px;
     text-align: center;
     display: flex ;
     font-size: 35px;
     font-weight: 400;
     align-items: center;
     justify-content: center;
     padding-top: 10px;
    }
    
    #barraPesquisa {
        width: 700px;
        height: 53.79px;
        background-image: url(img/imgHeaderEFooter/barradepesquisa.png);
        margin:90px;
        border-radius: 18px;
        padding-right: 20px;
        margin-left: 150px;
        background-size: cover;
    }
    
    #barraPesquisa::-webkit-input-placeholder{
        color:#ffffff98;
        font-size:15px;
    }
    
    input {
        color: white;
        font-family: "mont2";
        font-size: 15px;
        padding-left: 20px;
    }
    
    .barraDePesquisa{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .perfil a {
        width: 51px;
        height: 52px;
        border-radius: 18px;
        background-image: url(img/imgHeaderEFooter/perfill.png);
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-left: 70px;
        background-size: cover;
        color: rgba(255, 255, 255, 0);
    }
    
    .notificacao {
        width: 51px;
        height: 52px;
        border-radius: 18px;
        background: linear-gradient(90deg, #B41D6C, #2A114B);
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-left: -10px;
    }
    
    nav {
        background-color: #1A0436;
        box-sizing: border-box;
        margin-top: 25px;
        display: flex;
    }
    
    nav li {
        display: inline-block;
    }
    
    nav li .pag {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 605;
        font-family: "mont2";
        letter-spacing: 2px;
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 42px;
    }
    
    .inicio {
        padding-left: 100px;
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 605;
        font-family: "mont2";
        letter-spacing: 2px;
        padding-left: 100px;
        padding-top: 20px;
        padding-bottom: 42px;
        padding-right: 100px;
    }
    
    .categorias{
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-weight: 605;
        font-family: "mont2";
        letter-spacing: 2px;
        padding-top: 20px;
        padding-bottom: 42px;
    }
    
    .dropdown-menu a {
        display: block;
    }
    
    .dropdown-menu {
        position: absolute;
        background-color: #1A0436;
        margin-left: -5px;
        margin-top: 40px;
        box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.362);
        display: none;
    }
    
    .opcao:hover {
        background-color: #B41D6C;
    }
    
    .opcao {
        color: white;
        font-size: 15px;
        text-decoration: none;
        font-weight: 605;
        font-family: "mont2";
        letter-spacing: 2px;
        padding: 20px;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
.baner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1425px;
    height: 905px;
    position: relative;
}

.baner img {
    position: absolute;
    z-index: 1;
}

.estrelaB1 {
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 10;
}

.estrela2B {
    position: absolute;
    top: 200px;
    left: 600px;
    z-index: 10;
}

.estrela3B {
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 10;
}

.banerT {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 20;
    margin-left: -250px;
    margin-top: -150px;
}

.eventos {
    font-size: 95px;
    color: rgb(254, 181, 0, 1);
    margin-left: -200px;
    font-family: "mont6";
}

.magicas {
    font-size: 95px;
    color: white;
    margin-top: -25px;
    font-family: "mont";
}

.Bimg1 {
    margin-left: -900px;
}

.Bimg2 {
    margin-bottom: -250px;
}

.Bimg3 {
    margin-right: -900px;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
}
button{
    width: 184px;
    height: 48px;
    border-radius: 60px;
    font-family: "mont5";
    font-size: 20px;
    margin: 20px;
}
.rosa{
    background-color: #b41d6b4c;
    border: solid rgba(0, 0, 0, 0.549) 2px;
    opacity: 50%;
}
.roxo{
    background-color: #6a327945;
    border: solid rgba(0, 0, 0, 0.555) 2px;
    opacity: 50%;
}
.azul{
    background-color: #4848d833;
    border: solid rgba(0, 0, 0, 0.555) 2px;
    opacity: 50%;
}
.amarelo{
    background-color: #feb60040;
    border: solid rgba(0, 0, 0, 0.555) 2px;
    opacity: 50%;
}
.ROSA{
    background-color: #b41d6b;
    border: solid rgb(0, 0, 0) 2px;
    cursor: pointer;
}
.ROXO{
    background-color: #6a3279;
    border: solid rgb(0, 0, 0) 2px;
    cursor: pointer;
}
.item{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 100px;
    gap: 25px;
}
.eventoT{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: #fce6d9a8;
    width: 433px;
    height: 415px;
    border-radius: 60px 60px 0 0;
    opacity: 70%;
}
.estrelaT{
    width: 200px;
    height: 200px;
    margin-left: 300px;
    position: relative;
    z-index: 2;
    opacity: 70%;
}
.imgET{
    width: 408px;
    height: 314px;
    margin-top: -190px;
    margin-left: 13px;
    opacity: 70%;
}
.TT{
    font-size: 23px;
    font-family: "mont";
    text-align: center;
    font-weight: 50;
    margin-top: 15px;
    opacity: 70%;
}
.evento{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: #fce6d9;
    width: 433px;
    height: 415px;
    border-radius: 60px 60px 0 0;
    cursor: pointer;
}
.estrela{
    width: 200px;
    height: 200px;
    margin-left: 300px;
    position: relative;
    z-index: 2;
}
.imgE{
    width: 408px;
    height: 314px;
    margin-top: -190px;
    margin-left: 13px;
}
.T{
    font-size: 23px;
    font-family: "mont";
    text-align: center;
    font-weight: 50;
    margin-top: 15px;
}
.detalhes1{
    width: 1198px;
    height: 686px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bege{
    width: 568px;
    height: 686px;
    background-color: #fce6d9;
    border-radius: 60px 0 60px 0;
}
#overlay1{
    display: flex;
    flex-direction: row;
}
footer {
    background-color: #2A114B;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 150px;
}
.logo1 {
    font-family: "mont";
    color: white;
    width: 190px;
    height: 45px;
    text-align: center;
    display: flex ;
    font-size: 25px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 10px;
}
.bolha1 {
    width: 70px;
    height: 60px;
    padding-bottom: 20px;
}
.cimaRodape {
    display: flex;
    flex-direction: row;
    padding-left: 90px;
}
.baixoRodape {
color: #844D93;
margin: 20px;
font-size: 20px;
text-decoration: none;
font-weight: 605;
font-family: "mont4";
letter-spacing: 2px;
transition: none;
}
.baixoRodape:hover {
    font-size: 23px;
    transition: ease-in-out;
}
.redes {
padding-top: 40px;
padding-left: 15px;
padding-bottom: 25px;
}
.fim {
    height: 10px;
    width: 100%;
    background-color: #1A0436;
    padding-bottom: 15px;
}
.textosRodape {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textoRodape {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-right: -105px;
    color: white;
}
.textoRodape1 {
    font-size: 10px;
    padding-top: 5px;
    width: 250px;
    margin-left: 40px;
    color: white;
}